<h1>Log In Below:</h1>

<form action="/sessions" method="POST" id="form1">
 Email: <input type="text" id="email" name="email">
 Password: <input type="text" id="password" name="password">
</form>
<button type="submit" form="form1" value="Log In">Log In</button>