<h1>Sign Up Below:</h1>


<form action="/registrations" method="POST" id="form1">
 
 Name: <input type="text" id="name" name="name">
 Email: <input type="text" id="email" name="email">
 Password: <input type="text" id="password" name="password">
</form>

<button type="submit" form="form1" value="Sign Up">Sign Up</button>